.menuOpen #index{
    @media(max-width:767px){
        header .society .search-toggle:hover{
            color:black !important;
        }
    }
}
.index-banner-section{
    .swiper-button{
        &.swiper-button-prev{
            left: 50px;
        }
        &.swiper-button-next{
            right: 50px;
        }
    }
    .swiper-pagination{
        bottom: 85px;
        .swiper-pagination-bullet{
            width: 60px;
            height: 6px;
            background: transparent;
            border-radius: 0;
            margin: 0 10px;
            position: relative;
            transition:background .3s ;
            &::after{
                content:"";
                width: 100%;
                height: 4px;
                background: rgba(255,255,255,0.3);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            &.swiper-pagination-bullet-active{
                background: white;
                &::after{
                    opacity: 0;
                }
            }
        }
    }
    .text{
        background: linear-gradient(rgba(255,255,255,0.07),rgba(255,255,255,0));
        .tag{
            width: 445px;
            background: rgba(255,255,255,0.2);
        }
    }
    @media(max-width:1199px){
        .max900{
            max-width: 720px;
        }
    }
    @media(max-width:767px){
        .text{
            top: 55% !important;
            .tag{
                font-size: 13px;
                width: 220px;
                letter-spacing: 5px;
                border-radius: 5px;
            }

        }
        .img{
            height: 560px;
        }
        .max900{
            max-width: initial;
        }
        .swiper-pagination .swiper-pagination-bullet{
            width: 35px;
            height: 4px;
            &::after{
                height: 2px;
            }
        }
        .swiper-pagination{
            bottom: 60px;
        }
    }
    @media(max-width:575px){
        .content{
            max-width: 220px;
        }
    }
}
.index-tech-section{
    .techItems{
        box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    }
    .techItem{
        height: 600px;
        transition:flex .5s;
        &::after{
            content:"";
            display: block;
            position: absolute;
            width: 100%;
            height: 50%;
            left: 0;
            bottom: 0;
            background: linear-gradient(rgba(0,0,0,0) 10%,rgba(0,0,0,0.5));
        }
        &:hover{
            flex:0 0 54.5%;
            .text{
                opacity: 0;
                pointer-events: none;
            }
            .text-hover{
                opacity: 1;
                pointer-events: all;
            }
        }
        .text-hover{
            opacity: 0;
            pointer-events: none;
            bottom: 65px;
            left: 12%;
            transition: opacity .3s;
            .icon-wrapper{
                margin-left: 0;
            }
        }
        .text{
            bottom: 65px;
            transition: opacity .3s;
        }
        .icon-wrapper{
            width: 90px;
            height: 72.5px;
        }
    }
    @media(max-width:1399px){
        .techItem{
            &:hover{
                flex:0 0 33.33%;
                .text{
                    opacity: 1;
                    pointer-events: all;
                }
            }
            .text-hover{
                opacity: 1;
                pointer-events: all;
            }
        }

    }
    @media(max-width:1199px){
        .techItem{
            height: 600px;
        }
    }
    @media(max-width:991px){
        .techItems{
            box-shadow: none;
        }
        .techItem{
            height: 400px;
            &:hover{
                flex:0 0 100%;
            }
            .text-hover{
                bottom: 50px;
            }
        }
    }   
    @media(max-width:767px){
        .techItem {
            height: 224px;
            .text-hover{
                bottom: auto;
                top: 30px;
                left: 24px;
            }
            .icon-wrapper{
                width: 45px;
                height: 35px;
            }
        }
        .font-20{
            font-size: 16px;
        }
        .title{
            line-height: 1.2;
        }
    }
    @media(max-width:575px){
        .content{
            max-width: 170px;
        }
    }
}
.index-edu-section{
    background: url(images/common/wave-bg.jpg);
    background-repeat: no-repeat;
    background-position: left bottom; 
    .block{
        max-width: 1751px;
        .title-block{
            flex: 0 0 auto;
            width: 28.5%;
        }
        .content-block{
            flex: 0 0 auto;
            width: 71.5%;
        }
        .swiper-slide{
            height: 605px;
            &.swiper-slide-next,
            &.swiper-slide-prev{
                a{
                    margin-top: 62px;
                }
            }
            a{
                transition:margin-top .3s ;
            }
        }
        .swiper-buttons{
            top: 0;
            right: 0;
            .swiper-button{
            
                &::after{
                    font-size: 18px;
                }
            }
        }
    }
    @media(max-width:1600px){
        .block{
            .title-block{
                width:32%;
            }
            .content-block{
                width: 68%;
            }
        }
    }
    @media(max-width:1399px){
        .block{
            .title-block{
                width:35%;
            }
            .content-block{
                width: 65%;
            }
        }
    }
    @media(max-width:1199px){
        .block{
            .title-block{
                width:45%;
            }
            .content-block{
                width: 55%; 
            }
        }
    }
    @media(max-width:991px){
        .block{
            .title-block{
                width:100%;
            }
            .content-block{
                width: 100%; 
            }
            .swiper-slide{
                height: auto;
                a{
                    margin-top: 0 !important;
                }
            }
        }
    }
    @media(max-width:767px){
        .date{
            font-size: 16px;
        }
        .font-20{
            font-size: 22px;
            line-height: 1.4;
        }
    }
    
}
.index-doctor-section{
    background-attachment: fixed;
    .content{
        background: rgba(238,166,118,0.74);
        .text{
            max-width: 740px;
            .items{
                .item:not(:first-child){
                    position: relative;
                    &::after{
                        content:"";
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: linear-gradient(to right,white 0%,white 50%,transparent 50%,transparent 100%);
                        background-repeat: repeat;
                        background-size:1%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
        .icon{
            background: #D4A383;
        }
    }
    .doctor{
        bottom: 0;
        right: 9%;
        width: 29.5%;
    }
    @media(max-width:1399px){
        background-attachment:initial;
        .doctor{
            right: 7%;
        }
    }
    @media(max-width:1199px){
        .doctor{
            right: 44px;
        }
        .content .text{
            max-width: 720px;
        }
    }
    @media(max-width:991px){
        .content{
            margin-top: 383px;
        }
        .doctor{
            width: 226px;
            right: auto;
            bottom: auto;
            top: 230px;
            left: 50%;
            transform: translateX(-50%);
        }
        .font-16{
            font-size: 18px;
        }
    }
    @media(max-width:767px){
        .items{
            position: relative;
            &::after{
                content:"";
                display: block;
                width: 100%;
                height: 1px;
                background: linear-gradient(to right,white 0%,white 50%,transparent 50%,transparent 100%);
                background-repeat: repeat;
                background-size:4%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .content{
            margin-top: 356px;
            .text .items .item:not(:first-child)::after{
                background-size:4%;
            }
            
        }
        .doctor{
            top: 175px;
        }
    }
}
.index-baby-section{
    &::after{
        content:"";
        position: absolute;
        width: 100%;
        height: 50%;
        left: 0;
        bottom: 0;
        background: #FBF3F3;
        z-index: -1;
    }
    .line1{
        display: block;
    }
    @media(max-width:991px){
        &::after{
            height: 1070px;
        }
    }
    @media(max-width:767px){
        &::after{
            height: 733px;
        }
        .text-gray4D4D4D.line1{
            display: -webkit-box;
            -webkit-line-clamp: 2; 
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space:initial;
        }
        .font-24{
            font-size: 22px;
        }
    }
} 
.index-new-section{
    .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
        border-radius: 0;
        background: $grayD8D8D8;
        margin: 0 10px;
        &.swiper-pagination-bullet-active{
            background: $primary;
        }
    }
    .heart{
        left: 0;
        bottom: 0;
    }
    @media(max-width:992px){
        .heart{
            bottom: auto;
            top: 59px;
            width: 250px;
        }
    }
    @media(max-width:767px){
        .heart{
            bottom: auto;
            top: 56px;
            width: 160px;
        }
        .text-D32C2C{
            font-size: 16px;
        }
        .lh135{
            line-height: 1.5;
        }
        .more{
            background: $D32C2C;
            color:$white !important;
        }
    }
}
.dec-line{
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 55px;
        height: 1px;
        
    }
    &.dec-line-959595{
        &::before{
            background: #959595;
        }
    }
    &.dec-line-white{
        &::before{
            background: white;
        }
    }
}
.indexEduItem{
    &:hover{
        .img-wrapper{ 
            .img{ 
                transform: scale(1.02);
            }
        }
        .text-wrapper{
            .icon-more{
                color:#B3794D !important;
            }
        }
    }
    .img-wrapper{
        height: 335px;
        .img{
            transition:transform .5s ;
        }
    }
    .text-wrapper{
        margin-top: -67px;
        margin-left: -1px;  
        .icon-more{
            transition: color .3s;
        }
    }
    @media(max-width:991px){
        .img-wrapper{
            height: 480px;
        }
    }
    @media(max-width:767px){
        .text-wrapper{
            margin-top: -55px;
        }
        .text-D32C2C{
            font-size: 16px;
        }
    }
    @media(max-width:575px){
        .img-wrapper{
            height: 218px;
        }
    }
}
.indexBabyItem{
    &:hover{
        .img-wrapper{
            .img{
                transform: scale(1.02);
            }
        }
        .more{
            background: $primary;
            color:white !important;
        }
    }
    .img-wrapper{
        height: 500px;
        box-shadow: 0 10px 10px rgba(179,121,77,0.3);
        .img{
            transition: transform .5s;
        }
    }
    .more{
            transition: all .5s;
    }
    @media(max-width:1199px){
        .img-wrapper{
            height: 400px;
        }
    }
    @media(max-width:991px){
        .img-wrapper{
            height: 450px;
        }
    }
    @media(max-width:575px){
        .img-wrapper{
            height: 203px;
        }
    }
}
